// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Mixins
@import './components/mixins';
// Components
@import './components/login_register';
@import './components/input';
@import './components/button';
@import './components/menu';

body{
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
             'Segoe UI', Roboto, 'Helvetica Neue',
             Ubuntu, Arial, sans-serif;
    background: $dark-light;
    color: $white;
}
input, button{
    @include outline-none;
}
.modal-content{
    background:$dark-light;
    color: $white;
}
