// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Mixins
@import './components/mixins';
// Components
@import './components/login_register';
@import './components/field';
@import './components/button';
@import './components/menu';
@import './components/twit-form';
@import './components/twit-card';
@import './components/profile';
@import './components/follows';
@import './components/search';

body {
    font-family: -apple-system, system-ui, BlinkMacSystemFont,
        'Segoe UI', Roboto, 'Helvetica Neue',
        Ubuntu, Arial, sans-serif;
    background: $dark-light;
    color: $white;
}

input,
button,
textarea {
    @include outline-none;
}

.modal-content {
    background: $dark-light;
    color: $white;
}

.close_modal {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    color: $white;
    border: none;
    background: transparent;
    @include outline-none;

    &:hover {
        color: $blue;
        background: $dark-light-input;
    }
}

.header-static {
    position: fixed;
    top: 0;
    left: 23.5%;
    width: 44.5%;
    padding: 15px;
    height: 60px;
    font-size: $fs-lg;
    background: $dark-light;
    z-index: 1040;
    border-bottom: 1px solid $gray-light;
}

.main {
    top: 0;
    left: 23.5%;
    width: 44.5%;
    height: 100%;
    position: absolute;

    .content {
        margin-top: 60px;
        width: 100%;
        height: 100%;

        hr {
            border-color: $gray-light;
            border-width: 10px;
        }
    }
}
