.twit-btn {
    display: inline;
    border-radius: 30px;
    font-size: $fs-md;
    background: $blue;
    border-color: $blue;
    color: $white;

    &.disabled,
    &:disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.h49 {
    height: 49px;
}
