.twit-btn {
    display: inline;
    border-radius: 30px;
    font-size: $fs-md;
    background: $blue;
    border-color: $blue;
    color: $white;

    &.disabled,
    &:disabled {
        opacity: 0.5;
        cursor: default;
    }

    &.btn-following {
        .following_text {
            display: block;
        }

        .unfollow_text {
            display: none;
        }

        &:hover {
            background: $pink-dark;
            border-color: $pink-dark;

            .following_text {
                display: none;
            }

            .unfollow_text {
                display: block;
            }
        }
    }
}

.h49 {
    height: 49px;
}
