.twit-btn{
    width: 100%;
    border-radius: 30px;
    font-size: $fs-md;
    background: $blue;
    color: $white;
    &.disabled{
        opacity: 0.5;
        cursor: default;
    }
}

.h49{
    height: 49px;
}
