.input-custom{
    box-sizing: border-box;
    background: $dark-light-input;
    border-bottom: 2px solid $gray;
    label{
        font-size: $fs-md;
        color: $gray;
        padding: 0 10px;
    }
    &.focus-set{
        border-color: $blue;
        label{color: $blue;}
    }
    input{
        height: auto;
        box-sizing: border-box;
        padding-top: 2px;
        padding-bottom: 5px;
        padding-right: 10px;
        padding-left: 10px;
        border: none;
        color: $white!important;
        font-size: $fs-lg;
        line-height: 19px;
    }
}
