.form-login{
    width: 100%;
    max-width: 550px;
    margin: 0 auto;
}

h1{
    font-size: $fs-xl;
    font-weight: bold;
    color: $white;
}

.logo{
    width: 100%;
    text-align: center;
    img{
        width: 100%;
        max-width: 50px;
        height: 50px;
        display: block;
    }
}



