.search {
    position: relative;

    .input-search {
        background: $dark-light-input;
        border: 1px solid $dark-light-input;
        border-radius: 30px;
        width: 100%;
        padding: 10px;
        color: $white;
        font-size: $fs-lg;
        line-height: 19px;

        &:active,
        &:focus {
            border: 1px solid $blue;
        }

        &::placeholder {
            color: $gray;
            font-size: $fs-md;
        }
    }

    .box-results {
        position: absolute;
        top: 90%;
        left: 4.5%;
        width: 90%;
        height: 350px;
        max-height: 350px;
        border-radius: 5px;
        overflow-y: auto;
        z-index: 1000;
        background: $dark-light;
        box-shadow: rgba(136, 153, 166, 0.2) 0px 0px 15px, rgba(136, 153, 166, 0.15) 0px 0px 3px 1px;
    }
}
